:root {
  

  --color--alice-blue: hsl(204, 100%, 93%);
  --color--light-sky-blue: hsl(207, 100%, 82%);
  --color--light-blue: hsl(180, 72%, 89%);
  
  --color--bg: #FFF;
  

  --color--white: #fff;
  --color--black: #222;

  --font-family--sans-serif: system-ui;
  --font-family--serif: serif;
  --font-family--monospace: monospace;

  --padding--sidebar-sides: 1rem;
  --padding--viewport-edge: 1rem;

  --width--sidebar: 240px;
  --height--header: 50px;
  --margin--header: 10px;

  --rotate--default: -5deg;

}