/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./_components
 *= require_tree ./games
 *= require_self
 */

html {
  font-size: 16px;
  font-family: var(--font-family--sans-serif);
}

body {
  margin: 0;
  padding: 0;
  background: var(--color--bg);
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  position: fixed;
  min-width: var(--width--sidebar);
  max-width: var(--width--sidebar);
  height: 100vh;
  background: hsl(180, 72%, 89%);
  display: flex;
  flex-direction: column;
  padding: 1rem;


  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    list-style-type: none;
    padding: 0;
    gap: 2px;

    li {
      a {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem var(--padding--sidebar-sides);
        text-decoration: none;
        color: hsl(210, 22%, 18%);
        font-weight: 700;
        border-radius: 0.5rem;

        svg {
          width: 24px;
          height: 24px;
          rotate: var(--rotate--default);
        }

        &:hover {
          color: #fff;
          background-color: hsl(203, 84%, 74%);
        }
      }
    }
  }

}

header {
  position: fixed;
  top: var(--margin--header);
  right:  var(--margin--header);
  border-radius: 0.5rem;
  height: var(--height--header);
  background: hsl(180, 72%, 89%);
  color: var(--color--black);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  .profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.025rem;
    padding: 0 var(--padding--sidebar-sides);

    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;   /* ensures it doesn’t look squished */
      border-radius: 50%;
    }
  }
  .branding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: auto;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.025rem;

    .logo {
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 900;
    }
  }

  a {
    color: #fff;
  }

 
}


main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: var(--width--sidebar);
  margin-top: calc(var(--margin--header) + var(--height--header) + var(--margin--header));
}



